<section class="row" data-ng-controller="CustomersController" data-ng-init="find()">
	
	<h3><span class="label label-default">Список клиентов</span></h3>	

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="col-md-3">
				<label class="input-group" for="NameCustomerSelectC">Поиск по имени клиента:
				<input type="text" id="NameCustomerSelectC" name="NameCustomerSelectC" list="NameCustomerSelect" class="form-control" placeholder="Поиск по имени клиента" ng-model="NameCustomerSelectC" ng-change="find()">
				<datalist id="NameCustomerSelect">
					<select>
				    	<option data-ng-repeat="customer in customers | orderBy: 'nameCustomer'" value="{{customer.nameCustomer}}">{{customer.nameCustomer}}</option>
					</select>
				</datalist>
				</label>
			</div>
    		
			<label class="form-group col-md-2">Сортировка:</label>
			<div class="form-group col-md-2">
				<label class="radio-inline">
					<input type="radio" name="sort" value="name" ng-checked="sortName" id="sort-name" data-ng-model="sortName" ng-change="find()">
				По имени
				</label>
			</div>

			<div class="form-group col-md-2">
				<label class="radio-inline">
					<input type="radio" name="sort" value="discount" ng-checked="sortDiscount" id="sort-discount" data-ng-model="sortDiscount" ng-change="find()">
				По скидке
				</label>
			</div>

			<div class="form-group col-md-3">
				<label class="radio-inline">
					<input type="radio" name="sort" value="create" ng-checked="sortCreate" id="sort-create" data-ng-model="sortCreate" ng-change="find()">
				По времени создания
				</label>
			</div>
		</div>
	</div>
	
	


	<div class="list-group">
		<a data-ng-repeat="customer in customers | orderBy: select" data-ng-href="#!/customers/{{customer._id}}" class="row list-group-item list-group-item-success">			
			<p class="col-md-2 list-group-item-heading">{{$index+1}}. <span class="badge" data-ng-bind="customer.nameCustomer | limitTo:20"></span></p>			
			<p class="col-md-2 list-group-item-text">Скидка: <strong data-ng-bind="customer.discount"></strong>%</p>
			<p class="col-md-6 text-muted"><span data-ng-bind="customer.content | limitTo: 60"></span><strong ng-show="customer.content.length > 60">...</strong></p>
			<small class="col-md-2 text-muted">
					Внесён пользователем
				<span data-ng-bind="customer.user.displayName"></span>				
				<span data-ng-bind="customer.created | date:'mediumDate'"></span>
			</small>
		</a>		
	</div>
	

	<div class="alert alert-warning text-center" data-ng-if="customer.$resolved && !customer.length">
		В базе нет ни одного клиента c таким именем<a href="/#!/customers/create">добавить одного</a>?
	</div>

</section>