thead{
	margin-top: 0
}
table{
	font-size: 12px;
	min-width: 1050px;
	margin-left: 10px;
	width: 99%!important;
	margin-bottom: 0
}
th{
	font-size: 12px;
	margin-top: 3px
}
tr{
	height: 60px
}
label{
	font-size: 12px;
}
.checkbox-table{
	margin-top: -8px;
}
.checkbox-table-label{
	font-size: 8px;
	margin-right: 10px;
}
.checkbox-table-midle{
	margin-left: 15px!important;
	margin-top: -4px!important;
}
.checkbox-edit-label{
	margin-left: 10px;
}
.checkbox-edit-input{
	margin-left: 21px!important;
}
.group-cr{
	width: 107%
}
.group-sel{
	width: 95%!important
}
.down{
	margin-top: -24px
}
.down-h{
	margin-bottom: 35px!important;
	margin-left: -30!important
}
.name-aceptance{
	margin-top: -2px;
}
